html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing:inherit
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
margin: 0;
font-size: inherit;
}
p{
    margin: 0;
}

body{
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: #000;
    @extend %TitilliumWeb-Regular;
    font-size: 18px;
    line-height: 22px;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.title{
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 40px;
    @extend %TitilliumWeb-Bold;
    text-align: center;
}

