
%TitilliumWeb-Regular {
    font-family: 'TitilliumWeb-Regular', sans-serif;
    font-weight: 400;
}

%TitilliumWeb-Bold {
    font-family: 'TitilliumWeb-Bold', sans-serif;
    font-weight: 700;
}